.product-category-container {
    padding: 35px 18px 0;
    border-radius: 24px 24px 24px 24px;
    /*min-height: 290px;*/
    /*min-width: 190px;*/
    height: 270px;
}

.product-category-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.product-category-img {
    max-width: 155px;
    height: 150px;
}

.store-container-img {
    border-radius: 24px 24px 24px 24px;
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.store-container-title {
    font-size: 27px;
    font-weight: bold;
    color: #f4c340;
    margin: 0;
}

.store-container-desc {
    font-size: 16px;
    color: #525f7f;
    margin: 0;
}

.product-container {
    border-radius: 24px 24px 24px 24px;
    border: 2px solid #EEF2E7;
}

.product-img {
    max-width: 185px;
}

.product-type-tag {
    color: #f4c340;
    font-size: 15px;
    margin: 0;
}

.product-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

.product-unit-text {
    color: #a2a2a2;
    font-size: 15px;
    margin: 0 0 8px;
}

.product-description {
    color: #a2a2a2;
    font-size: 15px;
}

.text-black {
    color: black;
}

.product-price {
    color: #347758;
    font-weight: bold;
    font-size: 20px;
}

.quantity-number {
    margin: 100px;
}

.quantity-button {
    border: 1px solid #f2f2f2;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.quantity-button-small {
    border: 1px solid #f2f2f2;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
}

.minus {
    border-radius: 12px 0 0 12px;
}

.plus {
    border-radius: 0 12px 12px 0;
}

.quantity-input {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.quantity-input-small {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}

.border-radius-12 {
    border-radius: 12px;
}

.store-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.store-name {
    font-size: 38px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.store-description {
    font-size: 20px;
    color: #a2a2a2;
    margin: 0;
}

.product-category-title-wrapper {
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}

.product-cart-img {
    border-radius: 24px 24px 24px 24px;
    border: 2px solid #EEF2E7;
    max-height: 100px;
    max-width: 100px;
}

.product-cart-name {
    font-weight: bold;
    font-size: 18px;
}

.cart-total {
    font-weight: bold;
    margin-top: 10px;
}
